.navigation {
	display: block;
}
nav, .right {
	float:right;
}

.right {
	margin-top: -50px;
}

li {
	list-style: none;
	display:inline-block;
}

.main-search {
	/*display: block;*/
	position: relative;
	left: 33%;
	top: 33%;
	padding-top: 100px;
	/*background-color: purple;
	/*vertical-align: center;*/
}

.search-bar {
	width: 500px;
}

.google-logo {
	height: 175px;
	width: 500px;
}

.links {
	padding: 0 10px;
}

.top-links {
	padding: 0 5px;
}


