.navigation {
	display: block;
}
nav, .right {
	float:right;
}

.right {
	margin-top: -50px;
}

li {
	list-style: none;
	display:inline-block;
}

.main-search {
	/*display: block;*/
	position: relative;
	left: 33%;
	top: 33%;
	padding-top: 10%;
	/*background-color: purple;
	/*vertical-align: center;*/
}

.search-bar {
	width: 500px;
	height: 30px;
}

.google-logo {
	height: 100px;
	width: 300px;
	padding-bottom: 25px;
	margin-left: 125px;
}

.links {
	padding: 0 10px;
}

.top-links {
	padding: 0 5px;
}

.links, .top-links {
	color: #2F3030;
}

.top-links button {
	color: white;
}

.search-buttons {
	padding-top: 20px;
	padding-left: 125px;
	color: #2F3030;
}

.page-footer {
	margin-top: 60%;
	background-color: #E8ECED;
}